<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="">

<head>
    <meta charset="UTF-8" />
    <title>Cars</title>


</head>

<body>
    <h1>Cars</h1>
    <table>
        <div>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>model</th>
            </tr>
            <tr th:each="car : ${cars}">
                <td th:text="${car.id}"></td>
                <td th:text="${car.name}"></td>
                <td th:text="${car.model}"></td>
            </tr>
        </div>
    </table>

</body>

</html>